## EDA with  Motor_City_Mapping,_Winter_2013-14_Certified_Results

In [195]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.distance import distance
import re

from cleaning_utils import * # import all existing functions from file cleaning.py

%load_ext autoreload
%autoreload 2


pd.set_option('display.max_columns', 360)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [196]:
mcm = pd.read_csv('../P3_data/Motor_City_Mapping,_Winter_2013-14_Certified_Results.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [197]:
mcm.head(3)

,OBJECTID,D3_SurveyParcelID,CityParcelID2013,AddCombo,Address_Number,Address_Direction,Street,Zip,PCount,Blext_ID,User_ID,Reviewer_ID,Time_Surveyed,Updated_At,Status,Photo_URL,Structure,Use_,Condition,Occupancy,Needs_Boarding,Fire,Dumping,Units,Improved,Maintained,PublicUse,Notes,GEOID10_Tract,NAMELSAD10_Tract,GEOID10_Block,NAME10_Block,GeoID10_BG
0,1,01000004.001,01000004.001,201 RANDOLPH,201,,RANDOLPH,48200,1,411094.0,2891.0,3284.0,2014/02/07 17:58:18+00,2014/08/27 15:31:15+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,Parcel contains portion of Detroit-Windsor Tunnel,26163517200,Census Tract 5172,261635172001080,Block 1080,261635172001
1,2,01000004.002L,01000004.002L,159 RANDOLPH,159,,RANDOLPH,48200,1,411082.0,2891.0,3284.0,2014/02/07 17:57:31+00,2014/02/10 18:16:20+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,NaN,26163517200,Census Tract 5172,261635172001082,Block 1082,261635172001
2,3,01000005.002L,01000005.002L,160 E JEFFERSON,160,E,JEFFERSON,,1,411127.0,2891.0,3284.0,2014/02/07 18:01:08+00,2014/02/10 18:15:49+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,NaN,26163517200,Census Tract 5172,261635172001088,Block 1088,261635172001

In [198]:
list(mcm.columns)

['OBJECTID',
 'D3_SurveyParcelID',
 'CityParcelID2013',
 'AddCombo',
 'Address_Number',
 'Address_Direction',
 'Street',
 'Zip',
 'PCount',
 'Blext_ID',
 'User_ID',
 'Reviewer_ID',
 'Time_Surveyed',
 'Updated_At',
 'Status',
 'Photo_URL',
 'Structure',
 'Use_',
 'Condition',
 'Occupancy',
 'Needs_Boarding',
 'Fire',
 'Dumping',
 'Units',
 'Improved',
 'Maintained',
 'PublicUse',
 'Notes',
 'GEOID10_Tract',
 'NAMELSAD10_Tract',
 'GEOID10_Block',
 'NAME10_Block',
 'GeoID10_BG']

In [201]:
# Selecting not important features to drop from DF

columns_to_drop = ['OBJECTID',
                 'PublicUse',
                 'D3_SurveyParcelID',
                 'Use_',
                 'Address_Number',
                 'Address_Direction',
                 'Street',
                 'Zip',
                 'PCount',
                 'Blext_ID',
                 'User_ID',
                 'Reviewer_ID',
                 'Time_Surveyed',
                 'Updated_At',
                 'Status',
                 'Photo_URL',
                 'Notes',
                 'GEOID10_Tract',
                 'NAMELSAD10_Tract',
                 'GEOID10_Block',
                 'NAME10_Block',
                 'GeoID10_BG']

In [202]:
mcm = mcm.drop(columns=columns_to_drop)

In [203]:
mcm.rename({'CityParcelID2013': 'parcel_id'}, axis=1, inplace=True)

In [204]:
mcm['parcel_id'] = mcm.apply(parse_parcel,axis=1)

In [205]:
mcm = mcm.dropna(subset= [ 'Condition', 'Occupancy', 'Needs_Boarding', 'Fire', 'Dumping', 'Maintained'], how='all')

In [206]:
count_id = pd.DataFrame(mcm.groupby('parcel_id')['parcel_id'].count())

In [207]:
count_id = count_id.rename({'parcel_id':'parcel_count'}, axis=1)

In [208]:
count_id = count_id.reset_index()

In [209]:
mcm = pd.merge(mcm, count_id, left_on='parcel_id', right_on='parcel_id')

In [210]:
mcm = mcm[mcm.parcel_count ==1].drop('parcel_count', axis =1)

In [211]:
mcm.Dumping.fillna('no', inplace = True)
mcm.Units.fillna('4+ units', inplace = True)
mcm.Fire.fillna('no', inplace = True)
mcm.Occupancy.fillna('yes', inplace = True)
mcm.Improved.fillna('not_defined', inplace = True)

In [227]:
mcm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247393 entries, 2 to 373211
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   parcel_id       247393 non-null  int64
 1   AddCombo        247393 non-null  object
 2   Structure       247392 non-null  object
 3   Condition       247393 non-null  object
 4   Occupancy       247393 non-null  object
 5   Needs_Boarding  247393 non-null  object
 6   Fire            247393 non-null  object
 7   Dumping         247393 non-null  object
 8   Units           247393 non-null  object
 9   Improved        247393 non-null  object
 10  Maintained      247393 non-null  object
dtypes: int64(1), object(10)
memory usage: 22.6+ MB

In [226]:
mcm.dropna(subset=['Condition'], inplace=True)

In [222]:
mcm.Maintained.fillna('unknown', inplace= True)

In [219]:
mcm.Needs_Boarding.fillna('no', inplace=True)

In [228]:
mcm.to_csv(r'data/MCM.csv', index = False)