In [82]:
import sqlite3
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
# from  keys  import  client_id, api_key
import folium

In [88]:
blight = pd.read_csv('data/Blight_Violations.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,11,15,16,17,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [84]:
blight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496335 entries, 0 to 496334
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   X                           306227 non-null  float64
 1   Y                           306227 non-null  float64
 2   ticket_id                   496335 non-null  int64
 3   ticket_number               496335 non-null  object
 4   agency_name                 496335 non-null  object
 5   inspector_name              496335 non-null  object
 6   violator_name               496333 non-null  object
 7   violation_street_number     496335 non-null  int64
 8   violation_street_name       496270 non-null  object
 9   violation_zip_code          154162 non-null  object
 10  violator_id                 496335 non-null  int64
 11  mailing_address_str_number  496329 non-null  object
 12  mailing_address_str_name    496325 non-null  object
 13  city                        493079 non-null  object
 14  state                       492616 non-null  object
 15  zip_code                    493076 non-null  object
 16  non_us_str_code             3259 non-null    object
 17  country                     3270 non-null    object
 18  violation_date              496335 non-null  object
 19  ticket_issued_time          496335 non-null  object
 20  hearing_date                496335 non-null  object
 21  hearing_time                496323 non-null  object
 22  judgment_date               496335 non-null  object
 23  violation_code              496333 non-null  object
 24  violation_description       496333 non-null  object
 25  disposition                 496335 non-null  object
 26  clean_up_cost               0 non-null       float64
 27  payment_amount              0 non-null       float64
 28  payment_date                496335 non-null  object
 29  payment_status              316728 non-null  object
 30  collection_status           73200 non-null   object
 31  violation_address           496335 non-null  object
 32  parcelno                    306227 non-null  object
 33  oid                         496335 non-null  int64
 34  geom                        0 non-null       float64
 35  fine_amount                 0 non-null       float64
dtypes: float64(6), int64(4), object(26)
memory usage: 136.3+ MB

In [85]:
df.payment_status.unique()

array([nan, 'NO PAYMENT DUE', 'PAID IN FULL', 'PARTIAL PAYMENT APPLIED',
       'NO PAYMENT APPLIED'], dtype=object)

In [59]:
df['payment_status'].value_counts()

NO PAYMENT DUE             210004
PAID IN FULL                97642
PARTIAL PAYMENT APPLIED      9080
NO PAYMENT APPLIED              2
Name: payment_status, dtype: int64

In [30]:
df.parcelno

0         03002390.
1         03002391.
2         14002572.
3         12004708.
4               NaN
            ...
496330    22046239.
496331    22046729.
496332    22046729.
496333    22046256.
496334    22046256.
Name: parcelno, Length: 496335, dtype: object

In [37]:
impr = pd.read_csv('data/Improve_Detroit_Issues.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
impr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498496 entries, 0 to 498495
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   X                   453792 non-null  float64
 1   Y                   453792 non-null  float64
 2   id                  498496 non-null  int64
 3   status              498496 non-null  object
 4   request_type_title  498496 non-null  object
 5   description         396501 non-null  object
 6   web_url             498496 non-null  object
 7   report_method       498496 non-null  object
 8   priority_code       498496 non-null  int64
 9   created_at          498496 non-null  object
 10  acknowledged_at     449005 non-null  object
 11  closed_at           374487 non-null  object
 12  reopened_at         8944 non-null    object
 13  updated_at          498496 non-null  object
 14  days_to_close       175606 non-null  float64
 15  canonical_issue_id  13279 non-null   float64
 16  address             498488 non-null  object
 17  neighborhood        186002 non-null  object
 18  council_district    186089 non-null  float64
 19  oid                 498496 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 76.1+ MB

In [45]:
parcel = pd.read_csv('data/Parcels.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,5,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
parcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382099 entries, 0 to 382098
Data columns (total 37 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   object_id             382099 non-null  int64
 1   parcel_number         382099 non-null  object
 2   ward                  382099 non-null  int64
 3   address               382093 non-null  object
 4   council_district      380802 non-null  object
 5   zip_code              375174 non-null  object
 6   taxpayer_1            382095 non-null  object
 7   taxpayer_2            11880 non-null   object
 8   taxpayer_street       381953 non-null  object
 9   taxpayer_city         380427 non-null  object
 10  taxpayer_state        380419 non-null  object
 11  taxpayer_zip          381950 non-null  object
 12  property_class        382099 non-null  int64
 13  property_class_desc   382099 non-null  object
 14  use_code              376591 non-null  object
 15  use_code_desc         348680 non-null  object
 16  tax_status            382099 non-null  object
 17  total_square_footage  382099 non-null  float64
 18  total_acreage         382099 non-null  float64
 19  frontage              382099 non-null  float64
 20  depth                 382099 non-null  float64
 21  homestead_pre         382099 non-null  float64
 22  nez                   72588 non-null   object
 23  is_improved           382099 non-null  int64
 24  num_bldgs             382099 non-null  int64
 25  total_floor_area      237856 non-null  float64
 26  style                 237712 non-null  object
 27  year_built            237856 non-null  float64
 28  sale_price            382099 non-null  int64
 29  sale_date             382099 non-null  object
 30  assessed_value        382098 non-null  float64
 31  taxable_value         382098 non-null  float64
 32  landmap               381974 non-null  object
 33  related               14302 non-null   object
 34  zoning                376839 non-null  object
 35  subdivision           1645 non-null    object
 36  legal_description     382014 non-null  object
dtypes: float64(9), int64(6), object(22)
memory usage: 107.9+ MB

In [51]:
mcm = pd.read_csv('Motor_City_Mapping,_Winter_2013-14_Certified_Results.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
mcm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379549 entries, 0 to 379548
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           379549 non-null  int64
 1   D3_SurveyParcelID  379549 non-null  object
 2   CityParcelID2013   379549 non-null  object
 3   AddCombo           379549 non-null  object
 4   Address_Number     379549 non-null  object
 5   Address_Direction  379549 non-null  object
 6   Street             379549 non-null  object
 7   Zip                379549 non-null  object
 8   PCount             379549 non-null  int64
 9   Blext_ID           377209 non-null  float64
 10  User_ID            373229 non-null  float64
 11  Reviewer_ID        359568 non-null  float64
 12  Time_Surveyed      379549 non-null  object
 13  Updated_At         379549 non-null  object
 14  Status             373229 non-null  float64
 15  Photo_URL          373217 non-null  object
 16  Structure          373227 non-null  object
 17  Use_               373223 non-null  object
 18  Condition          261355 non-null  object
 19  Occupancy          261202 non-null  object
 20  Needs_Boarding     261271 non-null  object
 21  Fire               261284 non-null  object
 22  Dumping            373169 non-null  object
 23  Units              245276 non-null  object
 24  Improved           112058 non-null  object
 25  Maintained         112005 non-null  object
 26  PublicUse          7351 non-null    object
 27  Notes              31790 non-null   object
 28  GEOID10_Tract      379549 non-null  int64
 29  NAMELSAD10_Tract   379549 non-null  object
 30  GEOID10_Block      379549 non-null  int64
 31  NAME10_Block       379549 non-null  object
 32  GeoID10_BG         379549 non-null  int64
dtypes: float64(4), int64(5), object(24)
memory usage: 95.6+ MB

In [61]:
parcel.use_code_desc.unique()

array(['RELIGIOUS STRUCTURE/USE', 'BAR', 'PARKING LOT-PAVED',
       'OFFICE BLDG--3 STORIES OR LESS', 'PRIVATE CLUB',
       'OFFICE BLDG-3 STORIES OR MORE', 'WAREHOUSE STORAGE',
       'GARAGE-PARKING-UNDERGROUND', 'HOTEL-FULL SERVICE',
       'OTHER COMMERCIAL STRUCTURE', 'GARAGE-PARKING-ABOVE GROUND',
       'GAS STATION W/CONV STORE-RESTURANT', 'MIXED USE-OFFICE',
       'SINGLE FAMILY', 'VACANT RESIDENTIAL', nan, 'BANK BRANCH',
       'SPEC ACT LAND ONLY', 'STORE-RETAIL',
       'MAJOR OFFICE BLDG 3 STORIES OR MORE W/PKNGS', 'SCHOOL',
       'NEZ LAND', 'NEZ BLDG', 'TWO FAMILY', 'THREE FAMILY',
       'APT-WALK UP', 'VACANT COMMERCIAL', 'APT-W/ ELEVATOR',
       'APT-FLAT GARDEN TYPE', 'ROW HOUSE', 'IMPROVED NO BLDG',
       'RESTAURANT', 'VACANT INDUSTRIAL', 'MIXED USE-APT',
       'HEALTH PROFESSIONAL OFFICE', 'INCOME BUNGALOW', 'SUPERMARKET',
       'GARAGE - RESIDENTIAL STAND-ALONE', 'FOUR FAMILY',
       'RESTAURANT-FAST FOOD', 'SHOPPING CENTER', 'AUTO SALE W/SERVICE',
       'SERVICE AND REPAIR STATION', 'WAREHOUSE-DISTRIBUTION',
       'WAREHOUSE', 'HALF DUPLEX', 'INDUSTRIAL-ENGINEERING',
       'POWER HOUSE,SWITCH, OR TRANSFORMER BUILDING',
       'GAS STATION NO-SERVICE', 'MEDICAL DISPENSARIES', 'FIVE FAMILY',
       'RAILROAD', 'CARWASH', 'INDUSTRIAL USE-OFFICE BUILDING',
       'POST OFFICE', 'TOOL AND DIE SHOP', 'MORTUARY-FUNERAL HOME',
       'PARKING LOT-GRAVEL', 'VETERINARY', 'BARBER, BEAUTY SHOP',
       'MIXED USE-RETAIL', 'LIGHT MANUFACTURING', 'SHED',
       'STORE-PARTY/ NEIGHBORHOOD', 'HEAVY MANUFACTURING',
       'GAS STATION W/SERVICE', 'DRUG STORE', 'LAUNDROMAT',
       'TRUCK TERMINAL', 'DUPLEX', 'COMMERCIAL HALL', 'NURSING HOME',
       'MOTEL', 'SIX FAMILY', 'APT-HI-RISE', 'SCRAP YARD',
       'OTHER INDUSTRIAL STRUCTURE', 'INDUSTRIAL-COLD STORAGE',
       'APT-FLAT SLAB TYPE', 'INDUSTRIAL FLEX', 'DRY CLEANER',
       'COVERED LOADING DOCK', 'GREENHOUSE', 'CHILD CARE CENTER',
       'ASSISTED LIVING RESIDENCE', 'FLORIST', 'SHED,BARN,SHELTER',
       'SKATING RINK', 'GARAGE MINI-LUBE', 'PARSONAGE',
       'FITNESS CENTER,ARENA,GYMS,HEALTH CLUB', 'COOPERATIVE',
       'PRINTING AND PUBLISHING', 'RESIDENTIAL - CONDO', 'CASINO',
       'LABORATORY/RESEARCH & DEVELOPMENT', 'HOSPITAL', 'MOVIE THEATER',
       'PERSONAL PROPERTY', 'ICE CREAM/ REFRESHMENT', 'MIXED USE-CONDO',
       'HOTEL-APT', 'PUBLIC LODGING HOUSE-ROOMING HOUSE', 'DORMITORY',
       'BOWLING CENTER W/RESTURANT', 'SPEC ACT FROZEN',
       'HOTEL-LIMITED SERVICE', 'BANK MINI (WALK-UP & DRIVE-THROUGH)',
       'MOTEL W/RESTAURANT', 'CELLULAR TOWER', 'CARRIAGE HOUSE',
       'BOWLING CENTER', 'LEASED CITY OWNED PROPERTY', 'BOAT HOUSE'],
      dtype=object)

In [63]:
mcm.Improved.unique()

array([nan, 'improved', 'unimproved'], dtype=object)

In [65]:
parcel.is_improved.unique()

array([1, 0])

In [73]:
mcm.Time_Surveyed.head(100)

0     2014/02/07 17:58:18+00
1     2014/02/07 17:57:31+00
2     2014/02/07 18:01:08+00
3     2014/02/07 17:58:55+00
4     2014/02/06 20:42:28+00
               ...
95    2013/12/16 18:05:19+00
96    2013/12/16 15:54:31+00
97    2013/12/16 17:48:10+00
98    2013/12/16 17:47:37+00
99    2013/12/16 17:55:34+00
Name: Time_Surveyed, Length: 100, dtype: object

In [68]:
mcm.PCount.unique()

array([  1,   2,  42,  10,  61,   4,  16,   8,   3,   7,   5,  32,   6,
         9,  12,  18,  24,  19,   0,  21,  62,  20,  14, 334,  23, 228,
        65,  80,  48,  30,  67,  17,  41,  33,  11,  66, 295,  34,  97,
        38,  72,  36,  37, 237,  29,  43,  58, 173,  22,  50,  51,  15,
       172, 209,  35,  89,  25,  26,  13])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496335 entries, 0 to 496334
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   X                           306227 non-null  float64
 1   Y                           306227 non-null  float64
 2   ticket_id                   496335 non-null  int64
 3   ticket_number               496335 non-null  object
 4   agency_name                 496335 non-null  object
 5   inspector_name              496335 non-null  object
 6   violator_name               496333 non-null  object
 7   violation_street_number     496335 non-null  int64
 8   violation_street_name       496270 non-null  object
 9   violation_zip_code          154162 non-null  object
 10  violator_id                 496335 non-null  int64
 11  mailing_address_str_number  496329 non-null  object
 12  mailing_address_str_name    496325 non-null  object
 13  city                        493079 non-null  object
 14  state                       492616 non-null  object
 15  zip_code                    493076 non-null  object
 16  non_us_str_code             3259 non-null    object
 17  country                     3270 non-null    object
 18  violation_date              496335 non-null  object
 19  ticket_issued_time          496335 non-null  object
 20  hearing_date                496335 non-null  object
 21  hearing_time                496323 non-null  object
 22  judgment_date               496335 non-null  object
 23  violation_code              496333 non-null  object
 24  violation_description       496333 non-null  object
 25  disposition                 496335 non-null  object
 26  clean_up_cost               0 non-null       float64
 27  payment_amount              0 non-null       float64
 28  payment_date                496335 non-null  object
 29  payment_status              316728 non-null  object
 30  collection_status           73200 non-null   object
 31  violation_address           496335 non-null  object
 32  parcelno                    306227 non-null  object
 33  oid                         496335 non-null  int64
 34  geom                        0 non-null       float64
 35  fine_amount                 0 non-null       float64
dtypes: float64(6), int64(4), object(26)
memory usage: 136.3+ MB

In [78]:
df.violation_date

0         2005/01/13 00:00:00+00
1         2005/01/14 00:00:00+00
2         2005/01/14 00:00:00+00
3         2005/01/14 00:00:00+00
4         2005/01/14 00:00:00+00
                   ...
496330    2021/02/12 00:00:00+00
496331    2021/02/12 00:00:00+00
496332    2021/02/12 00:00:00+00
496333    2021/02/12 00:00:00+00
496334    2021/02/12 00:00:00+00
Name: violation_date, Length: 496335, dtype: object